@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
body {
  font-family: "Sen", sans-serif;
}
.navbar {
  background-color: rgba(235, 241, 250, 0.986);
}
.navbar-brand {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  font-weight: 600;
  color: black;
}
.navbar-nav a {
  font-size: 14px;
  color: white;
  margin-left: 10px;
  color: black;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url(images/svg.svg);
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}

/*----------------------- banner -------------------------*/
.banner {
  margin-top: 80px;
}
.bann-title {
  font-size: 15px;
  margin-left: 20px;
}
.bann-m-title {
  font-size: 50px;
  font-family: "Oswald", sans-serif;
  margin-left: 20px;
}
.bann-para {
  font-size: 15px;
  margin-left: 20px;
}
.banner button {
  margin-top: 30px;
  border: 2px solid rgb(23, 72, 179);
  background-color: rgb(23, 72, 179);
  color: white;
  border-radius: 10px;
  padding: 05px;
  width: 120px;
  font-size: 15px;
  height: 50px;
  margin-left: 20px;
}

/*--------------------------------- why Us --------------------------------*/
.why-us {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.whyus-title {
  font-size: 40px;
  font-weight: 600;
}
.whyus-para {
  font-size: 15px;
}
.why {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px;
  background-color: rgba(235, 241, 250, 0.692);
  border-radius: 30px;
}
.why1 {
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.why1 .wb1-title {
  font-size: 28px;
  font-weight: 510;
  margin-top: 03px;
  margin-bottom: 03px;
}
.why1 i {
  color: blue;
  font-size: 25px;
}
.why .wb1-para {
  font-size: 15px;
}

/*-----------------------------  featured event  --------------------------------*/
.fe {
  margin-top: 70px;
  text-align: center;
}
.Fevent-title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
.Fevent-para {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}
.fe-cont {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  column-gap: 20px;
  justify-content: center;
  margin-top: 40px;
}
.row1-fe {
  border-radius: 10px;
  box-shadow: 03px 03px 10px rgba(130, 130, 218, 0.692);
}

.row1-fe img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.row-fe-content {
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
  text-align: left;
}

.row-fe-content #fe-buy {
  color: blue;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
  width: 60%;
  font-size: 14px;
}
.feViewBtn {
  margin-top: 50px;
  color: white;
  border: 1px solid rgb(23, 72, 179);
  width: 120px;
  padding: 05px;
  border-radius: 05px;
  background-color: rgb(23, 72, 179);
  font-size: 16px;
  height: 40px;
  text-transform: uppercase;
}

/*--------------------------- experience ------------------------------*/

.experience {
  margin-top: 100px;
  padding: 40px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.exp_number {
  font-size: 40px;
}
.exp_text {
  font-size: 15px;
}

/*--------------------------- simple steps ---------------------------- */
.creEvent {
  margin-top: 80px;
}
.creEvent-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.creEvent-para {
  font-size: 15px;
  margin-top: 05px;
  text-align: center;
}
.creERow {
  margin-top: 50px;
  background-color: rgba(235, 241, 250, 0.692);
  padding: 40px;
  border-radius: 10px;
}
.creERow div {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.creEvent .creE-number {
  background-color: black;
  color: orange;
  width: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 40px;
  font-size: 20px;
}
.creEvent .creE-title {
  font-size: 18px;
}
.creEvent .creE-para {
  font-size: 14px;
}

/*---------------------------- testimonial --------------------------------*/
.Testimonial {
  margin-top: 80px;
}
.Testimonial img {
  width: 80px;
  height: 80px;
}
.testi-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  margin-top: -30px;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}
.carousel-inner {
  text-align: center;
}
.testiName {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
}
.textiPara {
  font-size: 13px;
  width: 50%;
  margin: auto;
}

/*--------------------------- find vibe ------------------------------*/
.vibe {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(12, 23, 47);
  color: white;
  padding: 20px;
  border-radius: 15px;
}
.vibe img {
  width: 250px;
}
.vibeB {
  display: flex;
  align-items: center;
}
.vibeContent {
  text-align: left;
}
.vibeContent .vCtitle {
  font-size: 25px;
  text-transform: uppercase;
}
.vibeContent .vCpara1 {
  font-size: 14px;
  margin-top: 5px;
}
.vibeContent .vCpara2 {
  margin-top: 5px;
  font-size: 12px;
}
.vbutton {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.vApp,
.vPlay {
  border: 1px solid white;
  padding: 07px;
  border-radius: 10px;
  cursor: pointer;
}

/*---------------------------------- footer ------------------------------------*/
.footer {
  width: 100%;
  margin-top: 100px;
  background-color: rgb(12, 23, 47);
  color: white;
  padding: 40px;
}
.footer-title {
  font-size: 30px;
  font-weight: 600;
}
.footer-para {
  margin-top: 05px;
  font-size: 13px;
}
.footer-socialIcon {
  margin-top: 07px;
}
.footerMenu .menu-items,
.contactAdd,
.contactEmail,
.contactNo {
  font-size: 13px;
  margin-top: 10px;
}
.menu-title,
.contact-title {
  font-size: 20px;
}

.footer .footerMenu {
  margin-left: 80px;
}
.footer-socialIcon i {
  margin-left: 05px;
}
.footerMenu a {
  text-decoration: none;
  color: white;
}
/* ------------------------------------------------------------------------------------ */
/*---------------------------- CONTACT US PAGE BANNER ---------------------------------*/
.Contact-banner {
  height: 100px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.Contact-banner p {
  margin-top: 60px;
}

/*-------------------------- Contact Form  -----------------------------------*/
.contact-form {
  margin-top: 50px;
}
.bk-event {
  padding: 20px;
  background-color: #ff3465;
  border-radius: 10px;
  color: white;
}
.bk-event .bk-event-title {
  font-size: 20px;
}
.bk-event-number {
  font-size: 25px;
  margin-top: 15px;
}
.bk-event-m-f {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact-form-row {
  display: flex;
  align-items: center;
}
.online-con {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 455px;
  margin: auto;
  margin-top: 30px;
  background-color: #ffe9c2;
  border-radius: 10px;
}
.online-con img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 40px;
}
.onlin-con-ti {
  font-size: 20px;
}
.online-con-name {
  font-size: 18px;
  margin-top: 10px;
}
.online-con-text {
  font-size: 14px;
  margin-top: 10px;
}
.online-start-chat {
  color: red;
  color: blue;
  margin-top: 10px;
  font-size: 14px;
}
.form {
  padding: 20px;
  background-color: rgba(235, 241, 250, 0.692);
  border-radius: 10px;
}
.contact-form input {
  width: 100%;
  margin-top: 15px;
  border: none;
  padding: 10px;
  border-radius: 05px;
}
.form textarea {
  width: 100%;
  margin-top: 20px;
  height: 120px;
  border-radius: 05px;
  border: none;
  padding: 05px;
}
.form input::placeholder,
textarea::placeholder {
  font-size: 13px;
}
.h-a-ques {
  font-size: 25px;
}
.f-submit {
  color: white;
  background-color: rgb(23, 72, 179);
}
